/* <== propiedades globales ==> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
html {
    display: flex;
    justify-content: center;
    scroll-padding: 50px 0 0 0;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(0deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

article {
    animation: transitionIn 0.5s;
}
/* <== cuerpo ==> */

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;

    width: 95%;
    height: 100%;

    scroll-padding: 135px 0 0 0;
}

/* <== cabecera ==> */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_img {
    width: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

.nombredelapagina {
    margin: 10px 0px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    border-radius: 5px;
}

.detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalles_descripcion {
    color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

/* <== menú de navegacion ==> */

nav {
    display: flex;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
    background: transparent;
    max-height: 100%;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x;
    background-color: #f3f3f3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.links_menu {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px 10px 10px;
    background: #303030;
    padding: 15px;
    max-height: 30px;
    border-radius: 5px;
}

article {
    margin: 1px;
    /*     padding: 10px;
 */
    background-color: rgb(243, 243, 243);
    font-size: 14px;
    font-family: "Oswald", sans-serif;
}

/*    <!-- promociones --> */

.promocion {
    display: flex;
    border-bottom: rgb(98, 98, 98) dotted 1px;
}

.promocion_contenido {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.promocion_titulo {
    padding-top: 10px;
}
.promocion_imagen {
    padding: 5px 0px;
    border-radius: 50%;
    margin-right: 10px;
    min-width: 110px;
    width: 110px;
    min-height: 110px;
    height: 110px;
}
.promocion_imagen img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.promocion_descripcion {
    align-items: center;
    margin: 5px 0px 5px 5px;

    margin-left: 5px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.promocion_precio {
    text-align: right;
    color: #303030;
    font-weight: 700;
    margin: 5px 0px 5px 5px;
    font-size: 20px;
}

/*    <!-- menu --> */

.menu_categoria_titulo {
    color: rgb(248, 248, 248);
    font-size: 20px;
    font-weight: 600;
    background-color: #303030;
    padding: 10px;
    border-radius: 8px;
}
.menu_categoria_subtitulo {
    font-size: 15px;
}
.producto {
    padding-left: 10px;
    padding-right: 5px;
}
.producto_titulo {
    padding-top: 7px;
    color: rgb(47, 47, 47);
    font-size: 18px;
}

.producto_detalles {
    font-size: 14px;
    color: #616161;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted;
}

.producto_descripcion {
    max-width: 85%;
}
.producto_precio {
    font-size: 16px;
    font-weight: 700;
    color: #202020;
}
/* .empanadas {
    font-family: "Oswald", sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 10px;
    line-height: 2em;
    color: #202020;

} */
/* <== pie de pagina ==> */

/* <== inicio boton flotante de whatsapp==> */
.btn_whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 15px;
    right: 15px;
    background: #46c756;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(red, green, blue, 0.3);
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1);
}

.btn_whatsapp:visited {
    color: white;
    background: #46c756;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.btn_whatsapp a:visited {
    color: rgb(19, 19, 19);
}

.btn_whatsapp:hover {
    text-decoration: none;
    transform: scale(1.2);

    color: #46c756;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/* <-- INICIO FOOTER --> */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    color: #273036;
    background: #f3f4f5;
    height: 100%;
    width: 100%;
}
.footer_titulo {
    text-align: center;
    font-size: 25px;
}
.footer_subtitulo {
    text-align: center;
    font-size: 16px;
    padding: 10px 0px 40px 0px;
}
.contenedor_footer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #fff;
    background-color: #303030;
    padding: 10px 0px;

    width: 100%;
    height: 100%;

    margin: 0px 10px;
    padding: 50px 0px;
}
.contenedor_footer-detalles {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.creditos {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    width: 100%;
}

.creditos_link {
    color: #ff9509;

    text-transform: lowercase;
    text-decoration: none;
    transform: scale(1);
}
.creditos_link:hover {
    color: #ff9509;
    font-weight: bold;
    transform: scale(1.2);
}

.creditos_link:visited,
.creditos_link:focus {
    color: #ff9509;
}
/* <-- FIN FOOTER --> */

@media screen and (min-width: 500px) {
    .promocion_precio {
        padding-right: 20px;
    }
    .producto_descripcion {
        padding-left: 5px;
    }
    .producto_precio {
        padding-right: 20px;
    }
}
@media screen and (min-width: 800px) {
    nav {
        visibility: hidden;
        margin-top: -40px;
    }
}
